body {
  padding-top: 54px;
}

#right {
  float: right;
  margin-left: 20px;
  width: 15%;
  height: 5%;
}

.wrap
{
  white-space: pre-wrap;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}#center {
  margin: 0 auto;
}
