{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/ourstory">Our Story</a>
  </div>
</nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="my-4">What is Our Story?</h1>
          <br>
          <p class="lead">
            Our Story is a tool that allows users to create and update stories collaboratively. Just create an account, create a story, and then other users can search for your username and request to join the authorship group. Once they are part of your group they can update the story, but don't threat, you can remove them if they mess about.
          </p>
          <p class ="lead"> Now go and express yourself...together!</p>
          <br>
          <a class="btn btn-secondary" type="s" href="/">Login/Register</a>

        </div>
      </div>
    </div>

{% endblock %}
