{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/ourstory">Our Story</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">Your Stories</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/profile">Owned Stories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <div class="card my-4">
            <h5 class="card-header" id = "">Your Profile</h5>
            <div class="card-body">
            <p>   Username: {{ main_author }} </p>
            <p>   Owned Stories: {{ count }} </p>
            <p><a class="btn btn-secondary" type="s" href="/"> Log Out </a></p>
            <a data-toggle="collapse" class="btn btn-secondary" href="#collapseExample" id="auth" role="button"  type="s" aria-expanded="false" aria-controls="collapseExample">
              Change Password
            </a>

            <div class="collapse" id="collapseExample">
              <form method="post" name="newpassform">
                  {{ form.hidden_tag() }}
                  <br>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">New Password: (5-12 characters)</label>
                    {{ form.password(class="form-control",id="passoneone", type="password") }}
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Re-enter password:</label>
                  <input type="password" class="form-control" id="passtwotwo">
                </div>
                <button class="btn btn-secondary new" type="button">Change</button>
                <div class="alerttwo alert-danger">

                </div>
              </form>
            </div>
          </div>
        </div>
          <div class="card my-4">
            <h5 class="card-header">User Search</h5>
            <div class="card-body">
              <form method="post">
                <div class="input-group">
                    {{ searchform.hidden_tag() }}
                    {{ searchform.search(class="form-control",id="exampleFormControlInput1") }}
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit">Go!</button>
                    </span>
                </div>
              </form>
            </div>
          </div>
          <div class="card my-4">
            <h5 class="card-header" id = "">New Story
              <span class="input-group-btn">
                <a class="btn btn-secondary" id = "right" type="s" href="/create">+</a>
              </span>
            </h5>
          </div>

      </div>
      <div class="col-md-8 order-md-1">
        <h1 class="my-4">Owned Stories</h1>
          {% for b in blog %}
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title">{{ b.title }}</h2>
              <p class="card-text">{{ b.body }}</p>
              <a href="/stories/{{ b.id }}" class="btn btn-secondary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              by
              {% for u in b.users %}
              {% if loop.index < 5  %}
              {% if loop.index > 1 %}
              <a href="/search/{{ u.id }}">, {{ u.username}}</a>
              {% else %}
              <a href="/search/{{ u.id }}">{{u.username}}</a>
              {% endif %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
