{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/ourstory">Our Story</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">

          <a class="nav-link" href="/home">Your Stories</a>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Owned Stories
          <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-md-4 order-md-2">
          <div class="card my-4">
            <h5 class="card-header">User Search</h5>
            <div class="card-body">
              <form method="post">
                <div class="input-group">
                  {{ searchform.hidden_tag() }}
                  {{ searchform.search(class="form-control",id="exampleFormControlInput1") }}
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8 order-md-1">
          <h1 class="my-4">Search Results</h1>
          {% for s in search %}
          <h4><a id="searcheduser" href="/search/{{ s.id }}">{{ s.username }}</a></h4>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endblock %}
